section {
    margin-top: 2em;
}

.container {
    width: 60%;
}

#intro,
#research {
    text-align: justify;
}


.title {
    line-height: 10px;
}

.title a {
    text-decoration: none;
}

#intro>div:first-of-type {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 5px 5px 11px #f3f3f3;
}